:root:has(#themeCheck:not(:checked)){
    --fg-color-1: #111;
    --fg-color-2: #555;
    --fg-color-3: #666;
    --bg-color-1: #eee;
    --bg-color-2: #fff;
}
:root:has(#themeCheck:checked){
    --fg-color-1: #fff;
    --fg-color-2: #ddd;
    --fg-color-3: #bbb;
    --bg-color-1: #444;
    --bg-color-2: #222;
}
:root {
    --theme-transition-speed: 0.8s;
}

html, body {
    overflow-x: hidden;
}
html, body, nav, footer, .modal {
    padding-right: 0 !important
}

img {
    transition: var(--theme-transition-speed);
    -webkit-transition : -webkit-filter var(--theme-transition-speed) linear;
}
#content, #content button {
    transition: all var(--theme-transition-speed) 0s;
}
p, small {
    color: var(--fg-color-2) !important;
    transition: all var(--theme-transition-speed);
}
h1, h2, h3, h4, h5 {
    color: var(--fg-color-1) !important;
    transition: all var(--theme-transition-speed);
}
i.bi {
    color: var(--fg-color-1);
    transition: all var(--theme-transition-speed);
}
#content {
    background-color: var(--bg-color-2);
    transition: all var(--theme-transition-speed);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.btn-dark, .btn-dark:hover {
    background-color: var(--fg-color-1);
    color: var(--bg-color-2);
}
.btn-dark:hover {
    filter: contrast(0.75);
}
.feature-title {
    display: grid;
    grid-template-columns: auto 1fr;
}
.feature-title .feature-icon {
    display: inline-flex;
    align-items: top;
    justify-content: center;
    transform: translateY(-0.2rem);
}
.carousel-item {
    height: 25vw;
    overflow: hidden;
}
.carousel-item img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
}
.wordmap-wrapper {
    overflow: hidden;
    width: 100%;
    height: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.wordmap-wrapper img {
    width: 100%;
    aspect-ratio: 1/1;
}
.map-wrapper, .contact-wrapper {
    overflow: hidden;
    border-radius: 2rem;
    position: relative;
}
.map-wrapper-small {
    height: 20rem;
    aspect-ratio: 1/1;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0.75rem;
    transform: scale(0.75) translate(-17%, 17%);
    border-radius: 2rem;
    overflow: hidden;
}
.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-wrapper img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    border-radius: 2rem;
}
iframe {
    width: 100%;
    height: 100%;
}
a.link-custom, a.link-custom:hover {
    color: var(--fg-color-1);
    text-decoration: none;
}
a.link-custom:hover {
    text-decoration: underline;
}
a.link-custom i.bi {
    padding-right: 0.7rem;
}
.card.product {
    background-color: var(--bg-color-1);
    color: var(--fg-color-2);
}
.card.product img {
    background-color: #f9f9f9;
}
.card.product .card-text, .card.product .card-title, .card.product img {
    opacity: 0.7;
    transition-property: opacity !important;
    transition-duration: 0.3s !important;
}
.card.product .card-title, .card.product img {
    opacity: 0.9;
}
.card.product:hover * {
    opacity: 1;
}
.card.product button {
    color: var(--fg-color-3);
    transition-property: opacity !important;
    transition-duration: 0.3s !important;
    opacity: 0.3;
}
.card.product:hover button {
    opacity: 0.5;
}
.card.product button:hover {
    color: var(--fg-color-1);
    opacity: 1;
}
@keyframes progressBarVoorbereiding {
    0% {width: 0%;}
    15% {width: 30%;}
    25% {width: 35%;}
    35% {width: 50%;}
    65% {width: 55%;}
    75% {width: 70%;}
    90% {width: 75%;}
    100% {width: 98%;}
}
.modal.show .modal-dialog {
    transform: translateY(-50%) !important;
}
.modal-dialog {
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-75%) !important;
}
.modal-content {
    background-color: var(--bg-color-2);
    color: var(--fg-color-1);
}
.modal-footer button {
    background-color: var(--bg-color-1);
    color: var(--fg-color-2);
}
.modal-footer button:hover {
    background-color: var(--bg-color-1);
    color: var(--fg-color-1);
}
.progress-bar {
    width: 98%;
    animation: progressBarVoorbereiding 4s linear, 1s linear infinite progress-bar-stripes;
}