:root:has(#themeCheck:not(:checked)){
    --fg-color-1: #111;
    --fg-color-2: #555;
    --fg-color-3: #666;
    --bg-color-1: #ddd;
    --bg-color-2: #eeeeee;
}
:root:has(#themeCheck:checked){
    --fg-color-1: #fff;
    --fg-color-2: #ddd;
    --fg-color-3: #bbb;
    --bg-color-1: #444;
    --bg-color-2: #222;
}

html, body {
    overflow-x: hidden;
}

#content, #content button {
    transition-delay: 0s;
    transition-property: background, color;
    transition-duration: 0.8s;
}
p, small {
    color: var(--fg-color-2) !important;
}
h1, h2, h3, h4, h5 {
    color: var(--fg-color-1) !important;
}
i.bi {
    color: var(--fg-color-1)
}
#content {
    background-color: var(--bg-color-2);
}
.btn-dark {
    background-color: var(--fg-color-1);
    color: var(--bg-color-2);
}
.btn-dark:hover {
    filter: contrast(0.9);
}
.feature-title {
    display: grid;
    grid-template-columns: auto 1fr;
}
.feature-title .feature-icon {
    display: inline-flex;
    align-items: top;
    justify-content: center;
    transform: translateY(-0.2rem);
}