<footer class="container-fluid py-5 pb-4 px-5 px-md-3 px-lg-5">
    <div class="row pb-2 gy-3 gy-md-0">
      <div class="col-10 offset-1 col-sm-6 offset-sm-3 col-md offset-md-0 pb-5 pb-md-0 text-center pe-md-4">
        <img class="logo" src="images/LogoFinaleTransparent.png" alt="Logo">
        <small class="d-block mt-2 text-muted">© 2021-2023</small>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <h5 class="ps-2"><a href="/home">Home</a></h5>
        <ul class="list-unstyled text-small">
          <li><a href="/home#intro">Intro</a></li>
          <li><a href="/home#uitleg">Uitleg</a></li>
          <li><a href="/home#aanbod">Aanbod</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <h5 class="ps-2"><a href="/producten">Aanbod</a></h5>
        <ul class="list-unstyled text-small">
          <li><a href="/producten#game">VR game</a></li>
          <li><a href="/producten#leermateriaal">Leermateriaal</a></li>
          <li><a href="/producten#gereedschap">Gereedschap</a></li>
          <li><a href="/producten#accessoires">Accesoires</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <h5 class="ps-2"><a href="/workshops">Workshops</a></h5>
        <ul class="list-unstyled text-small">
          <li><a href="/workshops#inhoud">Inhoud</a></li>
          <li><a href="/workshops#locatie">Locatie</a></li>
          <li><a href="/workshops#extra">Extra</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md">
        <h5 class="ps-2"><a href="/contact">Contact</a></h5>
        <ul class="list-unstyled text-small">
          <li><a href="https://www.google.com/maps/place/Koning+Boudewijnlaan+20a,+3500+Hasselt" target="_blank">Koning Boudewijnlaan 20A, Hasselt, 3500</a></li>
          <li><a href="mailto:info@johnspina.be">info@johnspina.be</a></li>
          <li><a href="tel:019216811">+32 19 21 68 11</a></li>
          <li><a href="/contact#social">Social Media</a></li>
        </ul>
      </div>
    </div>
</footer>