<!DOCTYPE html>
<html lang="Nl-be" dir="ltr">
  <head>
    <%- include('../../templates/head.ejs') %>
    <title>John Spina | Home</title>
  </head>
  <body>
    <div id="container">
      <%- include('../../templates/header.ejs') %>
      <div id="content" class="container-fluid">
        <div class="row px-4 py-2 pe-lg-0 align-items-center">
          <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0 p-3 p-lg-5">
            <h1 class="display-3 fw-bold lh-1">John Spina's garage</h1>
            <p class="lead mt-3">Zonder John op baan, da's een flater begaan!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
              <a href="/home#watdoenwij" class="btn btn-dark btn-lg px-4 me-md-2 fw-bold">Wat doen wij?</a>
            </div>
          </div>
          <div class="col-12 offset-0 col-sm-10 offset-sm-1 col-lg-6 offset-lg-0 p-3 p-lg-5 pe-lg-4">
            <img class="rounded-5 d-block mx-lg-auto img-fluid pe-lg-3" src="images/ARGameRepresentation.jpeg" alt="AR game representation" width="1200" height="675" loading="lazy">
          </div>
        </div>
        <div class="row px-4 py-2 pe-lg-0 align-items-center">
          <div class="col-12 offset-0 col-sm-10 offset-sm-1 order-lg-2 col-lg-6 offset-lg-0 p-3 p-lg-5">
            <h2 class="display-5 fw-bold lh-1">Nu overal te vinden!</h2>
            <p class="lead mt-3">Onze producten zijn op al je favoriete plaatsen te vinden, online en fysiek!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-4">
              <a href="/contact" class="btn btn-dark btn-lg px-4 me-md-2 fw-bold">Vind ons!</a>
            </div>
          </div>
          <div class="col-12 offset-0 col-sm-10 offset-sm-1 order-lg-1 col-lg-6 offset-lg-0 p-3 p-lg-5 ps-lg-4">
            <div id="carouselLocatie" class="carousel slide d-block mx-lg-auto pe-lg-3" width="1200" height="675" data-bs-ride="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselLocatie" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselLocatie" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselLocatie" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner rounded-5">
                <div class="carousel-item active">
                  <img src="images/mediamarkt.jfif" class="d-block w-100" alt="Mediamarkt">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/oculus.png" class="d-block w-100" alt="Oculus">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/steam.jpg" class="d-block w-100" alt="Steam">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselLocatie" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Vorige</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselLocatie" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Volgende</span>
              </button>
            </div>
          </div>
        </div>
        <div id="watdoenwij"></div>
        <div class="row px-4 py-5 my-5 text-center">
          <div class="col-12">
            <h2 class="display-5 fw-bold">Wat doen wij?</h2>
          </div>
          <div class="col-6 offset-3 pt-3 pb-3 mb-3">
            <p class="lead mb-4 fw-semibold">
              John Spina is een VR studio met passie voor aangename, educatieve VR games en leermiddelen op een automechanisch vlak.
            </p>
          </div>
          <div class="col-10 offset-1">
            <div class="wordmap-wrapper">
              <img src="images/wordcloud.png" alt="word cloud john spina" loading="eager">
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-12">
            <h2 class="text-center pb-4 mt-5 display-5 fw-bold border-bottom">Aanbod</h2>
          </div>
        </div>
        <div class="row g-1 py-4 pb-5 row-cols-1 row-cols-lg-3 border-bottom">
          <div class="col mb-4 mb-lg-0 px-5">
            <div class="feature-title">
              <div class="feature-icon fs-2 mb-3">
                <i class="bi bi-headset-vr"></i>
              </div>
              <h3 class="fs-2 ms-4 d-inline-flex">Virtuele zelf-educatie</h3>
            </div>
            <p>Als je al ooit auto pech hebt gehad en dacht <i>"Kon ik dit maar zelf oplossen."</i>, maar je hebt geen garage of gereedschap, dan is onze educatief VR game voor jou!</p>
            <a href="/producten#game" class="icon-link d-inline-flex align-items-center">
              Koop de game!
            </a>
          </div>
          <div class="col mb-4 mb-lg-0 px-5">
            <div class="feature-title">
              <div class="feature-icon fs-2 mb-3">
              <i class="bi bi-tools"></i>
              </div>
              <h3 class="fs-2 ms-4 d-inline-flex">Workshops</h3>
            </div>
            <p>Heb je geen VR headset of ben je liever fysiek met je handen bezig? Goed nieuws! Want wij doen over heel het land pop-up workshops waarbij we jou auto's leren repareren, in VR of aan een echte auto</p>
            <a href="/workshops" class="icon-link d-inline-flex align-items-center">
              Vind een workshop bij jou!
            </a>
          </div>
          <div class="col mb-4 mb-lg-0 px-5">
            <div class="feature-title">
              <div class="feature-icon fs-2 mb-3">
              <i class="bi bi-book-fill"></i>
              </div>
              <h3 class="fs-2 ms-4 d-inline-flex">Lesmateriaal</h3>
            </div>
            <p>Wil je liever enkel de theorie, ook dan ben je op het juiste adres. Wij hebben een ruime aanbod aan lesmateriaal voor leerkrachten en zelfstudie</p>
            <a href="/producten/lesmateriaal" class="icon-link d-inline-flex align-items-center">
              Bekijk al ons lesmateriaal!
            </a>
          </div>
        </div>
      </div>
      <%- include('../../templates/footer.ejs') %>
    </div>
    <%- include('../../templates/foot.ejs') %>
  </body>
</html>
