:root:has(#themeCheck:not(:checked)){
    --fg-color-1: #111;
    --fg-color-2: #666;
    --bg-color-1: #eee;
}
:root:has(#themeCheck:checked){
    --fg-color-1: #fff;
    --fg-color-2: #ddd;
    --bg-color-1: #222;
}
:root:has(#themeCheck:checked) .sun {
    opacity: 0;
    height: 0;
}
:root:has(#themeCheck:checked) #navbarNav.collapse:not(.show) .sun {
    transform: translate(100%, 100%);
}
:root:has(#themeCheck:checked) #navbarNav.collapse.show .sun {
    transform: translate(-100%, 100%);
}
:root:has(#themeCheck:not(:checked)) .moon {
    opacity: 0;
    height: 0;
}
:root:has(#themeCheck:not(:checked)) #navbarNav.collapse:not(.show) .moon {
    transform: translate(100%, -200%);
}
:root:has(#themeCheck:not(:checked)) #navbarNav.collapse.show .moon {
    transform: translate(-100%, -200%);
}
:root:has(#themeCheck:checked) .navbar-brand img {
    filter: invert(1) saturate(2);
}

nav {
    --theme-transition-speed: 0.5s;
    font-size: 1.3rem;
    background-color: var(--bg-color-1);
    transition: var(--theme-transition-speed);
}
.navbar-brand {
    margin-left: 0.3rem;
    margin-right: 0.8rem !important;
}
.navbar-brand img {
    transition: var(--theme-transition-speed);
}
button.navbar-toggler {
    border: 2px solid transparent;
    border-radius: 0.8rem;
}
button.navbar-toggler:focus {
    box-shadow: none;
    border: 2px solid var(--fg-color-1);
}
nav a.nav-link {
    color: var(--fg-color-2) !important;
    transition: var(--theme-transition-speed);
}
nav a.nav-link:hover, nav a.nav-link.active {
    color: var(--fg-color-1) !important;
}
#navbarNav, #navbarNav .navbar-nav {
    width: 100%;
}
#navbarNav .nav-item {
    width: fit-content;
    transition: var(--theme-transition-speed);
}
#navbarNav.collapse.show .nav-item:hover {
    padding-left: 0.5rem;
}
#navbarNav.collapsing .nav-item a, #navbarNav.collapse.show .nav-item a {
    display: inline-block;
    padding-bottom: 0.1rem;
}
#navbarNav .navbar-nav>:last-child {
    margin-left: auto;
    margin-right: 0.1rem;
}
#navbarNav.collapsing .navbar-nav>:last-child, #navbarNav.collapse.show .navbar-nav>:last-child {
    margin-left: -0.2rem;
    margin-right: auto;
}
#theme-toggle {
    background: none;
    border: 0;
    color: var(--fg-color-2);
    height: 3rem;
    aspect-ratio: 1/1;
}
#theme-toggle:hover {
    color: var(--fg-color-1);
}
#theme-toggle div, #theme-toggle svg {
    width: 100%;
    height: 100%;
}
#theme-toggle .sun, #theme-toggle .moon {
    transition: var(--theme-transition-speed);
    transform: translate(0, 0);
}
#themeCheck {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}