<!DOCTYPE html>
<html lang="Nl-be" dir="ltr">
  <head>
    <%- include('../../templates/head.ejs') %>
    <title>John Spina | Contact</title>
  </head>
  <body>
    <div id="container">
      <%- include('../../templates/header.ejs') %>
      <div id="content" class="container-fluid">
        <div class="row pt-4 pt-md-5 pb-4">
          <div class="col-10 offset-1 col-lg-5 ps-lg-3 pe-lg-4 pb-4">
            <div class="contact-wrapper">
              <img src="images/kantoor.webp" alt="kantoor">
              <div class="map-wrapper-small d-none d-lg-inline-block"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.4302182560855!2d5.343944921730467!3d50.93425630443101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c121779cfff077%3A0xcd7ca4e6cc715351!2sKoning%20Boudewijnlaan%2020a%2C%203500%20Hasselt!5e0!3m2!1snl!2sbe!4v1670227848726!5m2!1snl!2sbe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
          </div>
          <div class="col-5 offset-1 col-lg-5 ps-lg-3 pe-lg-4 d-lg-none">
            <div class="map-wrapper"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.4302182560855!2d5.343944921730467!3d50.93425630443101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c121779cfff077%3A0xcd7ca4e6cc715351!2sKoning%20Boudewijnlaan%2020a%2C%203500%20Hasselt!5e0!3m2!1snl!2sbe!4v1670227848726!5m2!1snl!2sbe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
          </div>
          <div class="col-5 col-lg-5 offset-lg-0">
            <h2 class="text-decoration-underline display-5 fw-bold pb-2 mb-2">Contact gegevens:</h2>
            <h3><a class="link-custom" href="https://www.google.com/maps/place/Koning+Boudewijnlaan+20a,+3500+Hasselt" target="_blank">Koning Boudewijnlaan 20A,<br>Hasselt 3500</a></h3>
            <h4><a class="link-custom" href="mailto:info@johnspina.be">info@johnspina.be</a></h4>
            <h4><a class="link-custom" href="tel:019216811">+32 19 21 68 11</a></h4>
          </div>
        </div>
        <div class="row pt-4 pt-md-5">
          <div class="col-10 offset-1 col-lg-5 offset-lg-0 pe-lg-3 order-lg-2 ps-lg-4 text-lg-end">
            <div class="contact-wrapper"><img src="images/socialmedia.webp" alt="kantoor"></div>
          </div>
          <div class="col-10 offset-1 col-lg-5 order-lg-1 pt-4 text-lg-end">
            <h2 class="text-decoration-underline display-5 fw-bold pb-2 mb-2">Social Media:</h5>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://facebook.com/johnspina" target="_blank"><i class="bi bi-facebook"></i>Facebook</a></h3>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://instagram.com/johnspina" target="_blank"><i class="bi bi-instagram"></i>Instagram</a></h3>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://youtube.com/johnspina" target="_blank"><i class="bi bi-twitter"></i>Twitter</a></h3>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://youtube.com/johnspina" target="_blank"><i class="bi bi-youtube"></i>Youtube</a></h3>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://youtube.com/johnspina" target="_blank"><i class="bi bi-tiktok"></i>Tiktok</a></h3>
            <h3 class="mb-2 pb-1"><a class="link-custom" href="https://youtube.com/johnspina" target="_blank"><i class="bi bi-linkedin"></i>LinkedIn</a></h3>
          </div>
        </div>
      </div>
      <%- include('../../templates/footer.ejs') %>
    </div>
    <%- include('../../templates/foot.ejs') %>
  </body>
</html>
