<!DOCTYPE html>
<html lang="Nl-be" dir="ltr">
  <head>
    <%- include('../../templates/head.ejs') %>
    <title>John Spina | Contact</title>
  </head>
  <body>
    <div id="container">
      <%- include('../../templates/header.ejs') %>
      <div id="content" class="container-fluid">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.4302182560855!2d5.343944921730467!3d50.93425630443101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c121779cfff077%3A0xcd7ca4e6cc715351!2sKoning%20Boudewijnlaan%2020a%2C%203500%20Hasselt!5e0!3m2!1snl!2sbe!4v1670227848726!5m2!1snl!2sbe" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



      </div>
      <%- include('../../templates/footer.ejs') %>
    </div>
    <%- include('../../templates/foot.ejs') %>
  </body>
</html>
